<!DOCTYPE html>  
<html>
  {% load staticfiles %}  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'pics/logo.png' %}" />
    <link rel="Bookmark" href="{% static 'pics/logo.png' %}" />
    <title>pxe Guide</title> 
    <script src="/bootstrap/js/bootstrap.min.js"></script>

   
  </head>


  <body>
 
      <div class="container-fluid">
        <a href="/labsmith/" style="float:left" ><h3><u>Labsmith</u></h3></a>
      </div>  
  
    <div class="alert alert-success" role="alert" >

    <font color="red" size="4"><p>Now, PXE just support Oberon and Beachcomber in the 34 network segment.</font>
    <p><img src="/static/pics/pxeGuide.PNG" >
    <font size="5">
    <p>The steps about how to do pxe is as follows:
    <p>Step 1: Copy the image to 10.62.34.100:/images.
    <p>Step 2: Reserve device (Oberon or Beachcomber), and then click the "Go PXE" button.
    <p>Step 3: On the PXE page (above), firstly confirm the infomation and then select image by using drop-down lists "OS file path".
    <p>Step 4: Last, confirm the infomation again, and click the blue button below.
    </font>
    </div>
      


  </div> <!-- /container --> 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> 
      
 </body>  
</html> 
